<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://img.icons8.com/ultraviolet/40/000000/planet.png" type="image/x-icon"/>
  <img src="https://img.icons8.com/ultraviolet/40/000000/planet.png"/>
</head>
<title>Faisal's Website</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<style type="text/css">
  .regularButton {
    color: blue;
    background-color: black;
    padding: 8px 16px;
    border-width: thin;
  },
</style>
<div class="w3-bar w3-black">
  <button href="#" class="w3-bar-item w3-button">Home</button>
  <button href="#" class="w3-bar-item w3-button">Link 1</button>
  <button href="#" class="w3-bar-item w3-button">Link 2</button>
  <button href="#" class="w3-bar-item w3-button">Link 3</button>
  <button onclick="thisMyFunction()" class="w3-bar-item w3-button" id="myButton">Click Me</button>
</div>

<script type="text/javascript">
  function thisMyFunction() {
    document.getElementById("myButton").style.display = "none";
  }

</script>
</body>
</html>

